<div class="accueil w-screen h-screen text-slate-50 p-24 pt-44 flex justify-around items-center">
  <div class="gauche w-1/2">
    <h1 class="mb-3">Bonjour, je m'appelle <span class="text-teal-500 font-bold">Souleymane Fall</span></h1>
    <h3 class="mb-6">Je suis un <span class="text-teal-500 font-bold">Développeur Web</span></h3>
    <p class="">Je suis un développeur web passionné par la création de sites web conviviaux et dynamiques. J'ai travaillé avec une variété de langages et de frameworks de programmation, et j'aime travailler en étroite collaboration avec mes clients pour créer des sites web personnalisés qui reflètent leur marque et offrent une expérience utilisateur exceptionnelle. Mon objectif principal est de fournir des solutions de développement web personnalisées et de haute qualité à mes clients.</p>
    <div class="social-network flex justify-center mb-6">
      <div class="sn linkedin text-teal-500 m-6 rounded-full p-1  border-2 border-teal-500 hover:bg-teal-500 hover:text-teal-50"><a target="_blank" href="https://www.linkedin.com/in/souleymane-fall-a8a999224/"><i class="fa-brands fa-linkedin"></i></a></div>
      <div class="sn github text-teal-500 m-6 rounded-full p-1  border-2 border-teal-500 hover:bg-teal-500 hover:text-teal-50"><a target="_blank" href="https://github.com/JulesBestDev176"><i class="fa-brands fa-github"></i></a></div>
      <div class="sn youtube text-teal-500 m-6 rounded-full p-1  border-2 border-teal-500 hover:bg-teal-500 hover:text-teal-50"><a target="_blank" href="https://www.youtube.com/@JulesDev176"><i class="fa-brands fa-youtube"></i></a></div>
    </div>
    <div class="bouton flex justify-left">
      <div class="cv mr-3">
        <button class="monCv rounded-full text-teal-500 text-sm font-medium w-32 p-1 border-2 border-teal-500 ">Mon CV</button>
      </div>
      <div class="cv">
        <button class="cm rounded-full text-slate-900 text-sm font-medium w-32 p-1 border-2 border-teal-500 bg-teal-500 ">Engagez-moi</button>
      </div>
    </div>
  </div>
  <div class="droite w-1/2 flex justify-center items-center">
    <img src="favicon.ico">
  </div>
</div>
