<div class="w-screen text-slate-50 p-3 flex justify-around ">
  <div class="logo flex items-center w-3/12">
    <h1 class="flex items-center justify-center size-9  w-3/12">Jules Dev &nbsp;</h1>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex items-center justify-center size-9 text-teal-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
    </svg>
  </div>
  <div class="menu flex justify-around w-6/12 text-gray-300 ">
    <div>
      <a href="#" class="text-sm font-medium  hover:text-gray-400">Accueil</a>
    </div>
    <div>
      <a href="#" class="text-sm font-medium  hover:text-gray-400">Services</a>
    </div>
    <div>
      <a href="#" class="text-sm font-medium  hover:text-gray-400">Education</a>
    </div>
    <div>
      <a href="#" class="text-sm font-medium hover:text-gray-400">Expériences</a>
    </div>
    <div>
      <a href="#" class="text-sm font-medium text-gray-900 hover:text-gray-800">Projets</a>
    </div>
    <div>
      <a href="#" class="text-sm font-medium text-gray-900 hover:text-gray-800">Contact</a>
    </div>
  </div>

</div>
